.cast_table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.cast_table img {
    height: 24vh;
    width: 16vh;
}

.cast_table td {
    padding: 5px;
}

* {
    text-align: center;
}