.cast_table {
    margin-left: auto;
    margin-right: auto;
}

.cast_table img {
    height: 24vh;
    width: 16vh;
}

.cast_table td {
    text-align: center;
    padding: 5px;
}

h1 {
    text-align: center;
}